USE [master]
GO
/****** Object:  Database [Contact_DB]    Script Date: 06-11-2025 00:07:25 ******/
CREATE DATABASE [Contact_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Contact_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Contact_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Contact_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Contact_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Contact_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Contact_DB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 06-11-2025 00:07:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 06-11-2025 00:07:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[Id] [uniqueidentifier] NOT NULL,
	[Fullname] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Phone] [bigint] NOT NULL,
	[Address] [nvarchar](200) NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
 CONSTRAINT [PK_Contacts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 06-11-2025 00:07:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250624142851_InitialCreate', N'6.0.36')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250704071509_addloginAuth', N'6.0.36')
GO
INSERT [dbo].[Contacts] ([Id], [Fullname], [Email], [Phone], [Address], [CreatedBy]) VALUES (N'1f027637-57bf-4f1f-9c2b-366ada49b705', N'Shreeti Patra', N'aditya.sahoo@apmosys.com', 8260508817, N'Patia,BBSR', N'Shreeti')
INSERT [dbo].[Contacts] ([Id], [Fullname], [Email], [Phone], [Address], [CreatedBy]) VALUES (N'50cef195-136c-4bab-aa9a-9455caa9bb11', N'Dhananjaya Sahoo', N'dhananjaya@gmail.com', 9016926772, N'KBHP,Hydrabad', N'Admin')
INSERT [dbo].[Contacts] ([Id], [Fullname], [Email], [Phone], [Address], [CreatedBy]) VALUES (N'91e9531b-c07f-444c-a8b0-dea52c1cc6d5', N'Harish', N'harish@example.com', 9999999999, N'Navi Mumbai', N'Dhananjaya')
GO
INSERT [dbo].[Users] ([Id], [Username], [Password], [Role]) VALUES (N'0afe61e4-5967-4abf-b6cf-45d2b36cb257', N'Dhananjaya', N'dhan@234', N'User')
INSERT [dbo].[Users] ([Id], [Username], [Password], [Role]) VALUES (N'50cef195-136c-4bab-aa9a-9455caa9bb11', N'admin', N'admin@123', N'Admin')
INSERT [dbo].[Users] ([Id], [Username], [Password], [Role]) VALUES (N'928e29d4-4e9b-4339-8af0-e907fe4ece94', N'Shreeti', N'aditya@123', N'User')
GO
USE [master]
GO
